/* styles.css */
* {
    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
    /* background-color: #eedcc6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1em;
}

.clearBody {
    background-color: #eedcc6;
}

.clearContainer {
    background-color: #ddccb8;
}

.clearWeatherDataContainer {
    color: #917d67;
}

.overcastBody {
    background-color: #b1a7a6;
}

.overcastContainer {
    background-color: #aaaaaa;
}

.overcastWeatherDataContainer {
    color: #ebe9e9;
}

.partialCloudyBody {
    background-color: #e1e5ee;
}

.partialCloudyContainer {
    background-color: #c7ccdb;
}

.partialCloudyWeatherDataContainer {
    color: #767b91;
}

.rainBody {
    background-color: #0b2545;
}

.rainContainer {
    background-color: #13315c;
}

.rainWeatherDataContainer {
    color: #8da9c4;
}

.snowBody {
    background-color: #bfdbf7;
}

.snowContainer {
    background-color: #d7def5;
}

.snowWeatherDataContainer {
    color: #ffffff;
}

#container {
    /* background-color: #ddccb8; */
    width: 40rem;
    height: 40rem;
    filter: drop-shadow(3px 9px 8px #0000003d);
}

#inputContainer {
    display: flex;
    gap: 0.5em;
}


#fetchWeather {
    background-color: white;
    padding: 0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: #A4A4A4;
    border-radius: 5px;
}

#weatherDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    gap: 1em;
    /* color: #917d67; */
    filter: drop-shadow(2px 6px 41px #00000050);
}

.largerItem {
    font-size: 2.5em;
}

.smallerItem {
    font-size: 1.3rem;
    margin: 1.6em;
    margin-top: 0.8em;
    text-align: justify;
    text-justify: auto;
}